<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
        
	<!-- There is no need to import all the xml files. controller-beans.xml is enough cause it will import service and service will persistense -->
	<!-- <import resource="persistense-beans.xml"/>
	<import resource="service-beans.xml"/> -->
	<import resource="controller-beans.xml"/>
	
</beans>